@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Cormorant+Garamond|Crimson+Text|Forum|Nanum+Myeongjo|Roboto&display=swap');

header {
  /* The image used */
  background-image: url("images/banniere.PNG");

  /* Full height */
  height: 300px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
h1 {
  font-size: 2.5rem;
  font-family: 'Bad Script', cursive;
}
h2 {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}
h3 {
  font-size: 1.8rem;
  font-family: 'Bad Script', cursive;
  text-transform: uppercase;
  width: 33%;
  padding-top: 7px;
}
.poketype{
  position: absolute;
  top: 150px;
  right: 230px;
  width: 250px;
  height: auto;
}
.button-rechercher {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid black;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 10px;
  outline: none;
}
.button-rechercher:hover {
  background-color: rgb(57, 126, 255);
  color: white;
  border: 2px solid white;
}
.text-align-center{
  text-align: center;
}
.pt-6 {
  padding-top: 50px;
}
.p-10 {
  padding: 30px;
}
.font-size1 {
  font-size: 1.5rem;
}
.font-size2 {
  font-size: 1.1rem;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-end {
  align-items: flex-end;
}
.margin-0 {
  margin: 0;
}
.font-family-roboto {
  font-family: 'Roboto', sans-serif;
}
#paragraphe-atq-def1 {
  display: flex;
}
#paragraphe-atq-def2 {
  display: none;
}
input[type="submit"]{
  margin-top: 20px;
}
#formulaire-atq-def input[type="text"] {
  width: 100px;
  height: fit-content;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 20px;
  border: 1px solid black;
}
#formulaire-atq-def img {
  width: 100px;
  height: fit-content;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 20px;
  border: 1px solid black;
}
#formulaire-atq-def {
  align-items: center;
}

@media (max-width: 1200px) { 
  #formulaire-atq-def {
    justify-content: center;
    flex-direction: column;
    margin: 1.2rem;
  }
  #formulaire-atq-def input[type="text"] {
    margin: 0;
    height: 30px;
  }
  #formulaire-atq-def img {
    margin: 0;
    height: 30px;
  }
  #formulaire-atq-def input[type="submit"] {
    margin: 0;
  }
  #paragraphe-atq-def1 {
    display: none;
  }
  #paragraphe-atq-def2 {
    display: flex;
  }
}
@media (max-width: 600px) { 
  header {
    display: none;
  }
}
